@font-face {
    font-family: 'CustomFont';
    src: url('/resource/CustomFont/GT-Eesti-Display-Regular.woff2') format('woff2');
   
}

@font-face {
  font-family: 'CustomFont1';
  
  src: url('/resource/CustomFont/GT-Eesti-Display-Bold.woff2') format('woff2');
}


.category-landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
    background-color: #ffffff;

    text-align: left;
    color: #ffffff; /* White text on blue background */
    font-family: 'CustomFont', GT-Eesti-Display-Regular ;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

 
  .category-landing .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #F4FAFF;
  }


  .category-landing .div-4 {
    display: flex;
    flex-direction: column;
    max-width: 936px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
  }

  .category-landing .breadcrumb {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }

  .category-landing .div-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  


  
  .div {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }

  .category-landing .page-link-label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 700;
    color: #27619B;
    font-size: 16px;
    line-height: 23.52px;
    font-family: 'CustomFont1', GT-Eesti-Display-Bold !important;
    
    font-style: normal;
  }
  
  .category-landing .solid-chevron {
    position: relative;
    width: 6px;
    height: 8px;
  }
  
  .category-landing .page-link-label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 400;
    color: #333B40;
    font-size: 16px;
    line-height: 23.52px;
    
    font-style: normal;
  }
  
  

  .category-landing .div-5 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }

  .category-landing .rectangle {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #9ba5b4;
    border-radius: 8px;
  }

  .category-landing .category {
    position: relative;
    width: fit-content;
    color: #333b40;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.48px; /* 36.48px */
  }
  
    
  
  .font {
    font-family: 'CustomFont1', GT-Eesti-Display-Bold ;
  }
  
  
 
  